.post-container {
  margin-top: 20px;
}

.filter-button {
  cursor: pointer;
  margin-bottom: 8px;
}

.like-icon {
  margin: 5px;
}

article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6eaee;
}

.searchbar {
  margin-bottom: 10px;
}
